{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Error{% endblock %}

{% block body %}

    {# Include menu #}
    {{ include("AppBundle::includes/menu.html.twig") }}

    <div class="container">
        <h3>Error {{ status_code }} : {{ status_text }}</h3>
    </div>

{% endblock %}