<div style="background-color: #34495e; color: #ecf0f1; font-size: 16px; padding: 10px;">
    <h1 style="margin-bottom: 22px; font-size: 22px; color: white;">RocketVideo</h1>
    <p style="color: #e1e1e1;">Votre vidéo est maintenant disponible !</p>
    <a style="padding: 10px 20px; display: block; margin: 10px auto; background-color: #00b3ee; width: 150px; text-align: center; font-size: 24px; text-decoration: none; color: white; text-shadow: 0 2px 2px #515151;"
       href="{{ base_url_mail }}{{ path('app_play', { 'id': stream_id }) }}">Voir la vidéo</a>
</div>