<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    {% stylesheets '@bootstrap_css' '@main_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link href="http://vjs.zencdn.net/5.10.2/video-js.css" rel="stylesheet">

    <title>{% block title %}{{ site_title }}{% endblock %}</title>
</head>
<body>

{% block body %}
{% endblock %}

<script src="http://vjs.zencdn.net/5.10.2/video.js"></script>
<script src="https://use.fontawesome.com/37e28f59eb.js"></script>

</body>
</html>